<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Estoques</title>
</head>
<body>
	<h1>Adicionar Equipamento</h1>

	<form action="/equipamentos" method="post">

		<div>
			<label>Data:</label> <input type="text" name="data">
		</div>
		<div>
			<label>Nome:</label> <input type="text" name="nome">
		</div>
		<div>
			<label>Quantidade:</label> <input type="text" name="quantidade">
		</div>
		<div>
	<button type="submit">Salvar</button>
	<button type="reset">Limpar</button>
		</div>
	</form>

</body>
</html>