<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<title>Estoques</title>
</head>
<body>

	<div th:replace="~{menu :: menu}"></div>

	<div class="container">

		<h1>Detalhes do equipamento</h1>
		<div class="row">
			<div class="col s12">
				<div class="card">
					<div class="card-content">
						<span class="card-title">Equipamento</span>
						<p>
							<strong>Id: </strong> <span th:text="${equipamento.id}">1</span>
						</p>
						<p>
							<strong>Data: </strong> <span th:text="${equipamento.data}">20/03/2021</span>
						</p>
						<p>
							<strong>Nome: </strong> <span th:text="${equipamento.nome}">monitor</span>
						</p>
						<p>
							<strong>Quantidade: </strong> <span
								th:text="${equipamento.quantidade}">5</span>
						</p>
					</div>
				</div>

			</div>
		</div>

		<div class="row">
			<div class="col s12">
				<div class="card">
					<div class="card-content">
						<span class="card-title">Adicionar Categoria:</span>
						<form action="" method="post">
							<div>
								<label>Setor: </label> <input type="text" name="setor">
							</div>
							<div>
								<label>Marca </label> <input type="text" name="marca">
							</div>
							<div>
								<button type="submit" class="btn">Salvar</button>
								<button type="reset" class="btn">Limpar</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>


		<div class="row">
			<div class="col s12">
            <div class= "card">
				<span class="card-title">Categorias</span>
				<table class="highlght">
					<thead>
						<tr>
							<th>Id</th>
							<th>Setor</th>
							<th>Marca</th>
						</tr>

					</thead>
					<tbody>
						<tr th:each="c : ${categorias}">
						<td th:text="${c.id}">1</td>
						<td th:text="${c.setor}">Redes</td>
						<td th:text="${c.marca}">Servidor Intel</td>
						</tr>
					</tbody>
				</table>

</div>				
</div>
			</div>
</body>
</html>