<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<title>Estoques</title>
</head>
<body>

	<div th:replace="~{menu :: menu}"></div>

	<div class="container">

		<h1>Adicionar Equipamento</h1>

		<form action="/equipamento" method="post">
            <div>
				 <input type="hidden" name="id" th:value="${equipamento.id}" readonly="readonly">
			</div>
			<div>
				<label>Data:</label> <input type="text" name="data" th:value="${equipamento.data}">
			</div>
			<div>
				<label>Nome:</label> <input type="text" name="nome" th:value="${equipamento.nome}">
			</div>
			<div>
				<label>Quantidade:</label> <input type="text" name="quantidade" th:value="${equipamento.quantidade}">
			</div>
			<div>
				<button type="submit" class="btn">Salvar</button>
				<button type="reset"  class="btn">Limpar</button>
			</div>
		</form>
	</div>
</body>
</html>